<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ASALightStorm Tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ASALightStorm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>AppleDoc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1A9A0A9850BFEFF536BAE1AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D574122C17EB85BF005E18C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D574124317EB877F005E18C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D574125617EB87A7005E18C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5B958C317E74B580001441C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
